@import "./_variables";

.light{
    background:$Theme2Bg;
    color:$KeyText2;
    header {
        background:$White;
        color:$KeyText2;
            a {
              font-weight: bold;
              color: $KeyText2;
        
              &.router-link-exact-active {
                color: $ResetBg2;
              }
            }
        }
        
        .slider {
            .slider__numbers {
                color: $VueGreen;
            }
            .slider__item {
                background: $White;
                .slider__ball {
                    background: $VueGrey;
                }
            }
  }

  main {
      .home {
          .hero{
              background:$ResetBg2;
              color:$White;
              .hero__info {
                  .hero__title {
                    color:$Black;
                  }
                  .hero__button {
                      background:$Black;
                      background:$SumBg3;
                      color:$White;
                      box-shadow:0px 4px 0px 0px $KeyText2;
                      &.about {
                          @include btnStyle(80%, $Black, $SumBg2, 1rem 0.5rem, $VueGreen);
                        }
                    }
                }
            }
            
        }

        .about {
            .about-section {
                background:$ResetBg2;
            }
        }
    }
        
    footer {
        .footer {
            background: $VueGreen;
            background:$White;
            color:$VueGrey;
            a {
                color:$Theme2Bg;
            }
        }
    }
}

.neon {
    background: $Theme3Bg;
    header {
        background: $SumBg3;
        background: $KeyShadow3;
        color:$KeyText3;
            a {
              font-weight: bold;
              color: $White;
        
              &.router-link-exact-active {
                color: $Black;
              }
            }
        }
        
        .slider {
            .slider__numbers {
                color: $KeyText3;
            }
            .slider__item {
                background: $White;
                .slider__ball {
                    background: $KeyText3;
                }
            }
  }
  
  main{
      
      .home {
          .hero{
              background: $SumBg3;
              color:$KeyText2;
              .hero__info {
                  
                  .hero__button {
                      color:$Black;
                      background: $KeyText3;
                      box-shadow:0px 4px 0px 0px $KeyShadow3;
                      &.about {
                          @include btnStyle(80%, $SumBg3, $Black, 1rem 0.5rem, $KeyShadow3);
                          background:$KeyShadow3;
                        }
                    }
                }
            }
            
        }
        .about {
            .container {
                .about__title {
                    color:$KeyText3;
                }
              .about-section {
                background: $SumBg3;
                color:$ResetBg3;
                .section__title {
                    color:$KeyText3;
                }
              }
            }
        }
          
    }
    
    
    footer {
        .footer {
            background: $KeyShadow3;
            background:$ResetBg3;
            color:$White;
            a {
                color:$Theme2Bg;
            }
        }
        }
}
