@import "./_variables";

.light{
    background:$Theme2Bg;
    color:$TextColor2;
    header {
        background:$White;
        color:$TextColor2;
            a {
              font-weight: bold;
              color: $TextColor2;
        
              &.router-link-exact-active {
                color: $DarkBlue;
              }
            }
        }
        
        .slider {
            .slider__numbers {
                color: $LightBlue;
            }
            .slider__item {
                background: $White;
                .slider__ball {
                    background: $VueGrey;
                }
            }
  }

  main {
      .home {
          .hero{
              background:$DarkGreen;
              color:$White;
              .hero__info {
                  .hero__title {
                    color:$Black;
                  }
                  .hero__button {
                      background:$Black;
                      background:$LightBlue;
                      color:$White;
                      box-shadow:0px 4px 0px 0px $TextColor2;
                      &.about {
                          @include btnStyle(80%, $Black, $LightBlue, 1rem 0.5rem, $VueGreen);
                        }
                    }
                }
            }
            
        }

        .about {
            .about-section {
                background:$DarkGreen;
            }
        }
    }
        
    footer {
        .footer {
            background:$White;
            color:$LightBlue;
            a {
                color:$Theme2Bg;
            }
        }
    }
}

.neon {
    background: $Theme3Bg;
    header {
        background: $LightBlue;
        background: $DarkPurple;
        color:$TextColor3;
            a {
              font-weight: bold;
              color: $White;
        
              &.router-link-exact-active {
                color: $Black;
              }
            }
        }
        
        .slider {
            .slider__numbers {
                color: $TextColor3;
            }
            .slider__item {
                background: $White;
                .slider__ball {
                    background: $TextColor3;
                }
            }
  }
  
  main{
      
      .home {
          .hero{
              background: $LightBlue;
              color:$TextColor2;
              .hero__info {
                  
                  .hero__button {
                      color:$Black;
                      background: $TextColor3;
                      box-shadow:0px 4px 0px 0px $DarkPurple;
                      &.about {
                          @include btnStyle(80%, $LightBlue, $Black, 1rem 0.5rem, $DarkPurple);
                          background:$DarkPurple;
                        }
                    }
                }
            }
            
        }
        .about {
            .container {
                .about-section {
                    background: $LightBlue;
                    color:$DarkGreen;
                    .section__title {
                        color:$TextColor3;
                    }
                }
                .about__title {
                    color:$LightBlue;
                }
            }
        }
          
    }
    
    footer {
        .footer {
            background: $DarkPurple;
            color:$White;
            a {
                color:$Theme2Bg;
            }
        }
        }
}
