/*  Theme 1  */
$VueGreen:#42b983;
$VueGrey:#2c3e50;
$Black:#000000;
$White:#ffffff;

/*    Theme 2   */
$LightGreen:hsl(185, 42%, 37%);
$DarkGreen: hsl(185, 58%, 25%);

$Theme2Bg: hsl(0, 0%, 90%);
$LightGrey: hsl(0, 5%, 81%);

$LightRed: hsl(25, 98%, 40%);
$DarkRed: hsl(25, 99%, 27%);

$KeyBg2 : hsl(45, 7%, 89%);
$Grey: hsl(35, 11%, 61%);

$TextColor2: hsl(60, 10%, 19%);

/*    Theme 3   */

$Theme3Bg: hsl(268, 75%, 9%);
$KeypadBg3: hsl(268, 71%, 12%);

$LightPurple:hsl(285, 91%, 52%);
$DarkPurple: hsl(281, 89%, 26%);

$LightBlue: hsl(176, 100%, 44%);
$DarkBlue: hsl(177, 92%, 70%);

$VeryDarkPurple:hsl(268, 47%, 21%);
$MediumDarkPurple:hsl(290, 70%, 36%);

$TextColor3: hsl(52, 100%, 62%);
$Verydarkblue: hsl(198, 20%, 13%);