$Black:#000000;
$White:#ffffff;

*, *::before, *::after {
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
    background:$White;
    color:$Black;
}

h1 {
    color:blue;
}

.container {
    width:80%;
    margin:0 auto;
    padding:2rem;
}

.row {
    display:flex;
    flex-direction:column;
}

picture {
    width:50%;
}
img {
    max-width:100%;
}

section {
    width:80%;
}
.socials__profile, .footer__list {
    img {
        max-width:50%;
        padding:2rem;
        background:white;
    }
    width:80%;
}

footer {
    width:100%;
    background:green;
}

.footer__list {
    display:flex;
}